pyrofork==2.4.0rc1  # Change to a stable version if necessary
motor
TgCrypto
Dnspython
datetime
pytz

#----app.py----#
pyrogram==2.0.106
Flask==1.1.2
gunicorn==20.1.0
Jinja2==3.0.3
werkzeug==2.0.2
itsdangerous==2.0.1
